.navbar{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
}
body{
    background-color: skyblue;
}

.theform{
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    margin: 100px 500px 100px 500px;
    width: 190px;
    height: 300px;
    padding-left: 20px;
}
p{
    text-align: left;
}
button{
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-evenly;
}

button{
    color: white;
    background-color: blue;
}
img{
    height: 30px;
    width: 30px;
}